body {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  background-color: #fffcfc;
}

#container {
  background-color: #ffeffb;
  max-width: 680px;
  margin: 0 auto;
  border: 4px solid;
  border-color: #ced4da;
  border-radius: 8px;
}

.weather-in {
  margin-top: 20px;
  font-family: "Cairo", sans-serif;
  font-size: 22px;
  text-align: center;
}

.enter-name {
  background-color: #ffffff;
}

.peak-button .current-location-button {
  border-radius: 10px;
}

.this-week {
  font-size: 29px;
  max-width: 288px;
  margin-left: 63px;
}

#left-side {
  max-width: 288px;
  display: block;
  margin: 0 auto;
}

#right-side {
  max-width: 288px;
  display: block;
  margin: 0 auto;
}

.week-weather {
  color: #88ccff;
}

.week-weather-c {
  color: rgb(159, 159, 159);
}

#weather-icon-tomorrow,
#weather-icon-daytwo,
#weather-icon-daythree,
#weather-icon-dayfour,
#weather-icon-dayfive,
#weather-icon-daysix {
  max-width: 40px;
  display: inline;
  margin: 0;
}

.card-right {
  margin-top: 43px;
}

.current-weather {
  font-size: 50px;
  max-width: 288px;
  text-align: center;
  margin: 0;
  color: #88ccff;
  margin-top: 20px;
}

#last-updated {
  font-size: 15px;
}

#weather-description {
  text-transform: capitalize;
}

#temperature-icons {
  font-size: 25px;
  position: relative;
  top: -20px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.active {
  color: rgb(159, 159, 159);
  text-decoration: none;
}
.active:hover {
  color: rgb(159, 159, 159);
  text-decoration: none;
  cursor: default;
}

.box,
li {
  text-align: center;
  font-size: 23px;
}

#image {
  max-width: 288px;
}
img {
  display: block;
  margin: 0 auto;
}

.extra-info {
  background-color: #ffffff;
  margin-top: 30px;
  max-width: 288px;
  text-align: center;
  border: 4px solid;
}
